{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "cleanjs"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "fp/no-mutation": ["error", {"commonjs": true}]
  }
}
